# Gitignore items

##################################
## My temporary files
##################################
_*
tmp/
*.log
._* # MacOS

#################################
# Binaries
#################################
*.a
*.so
*.exe # Windows
*.dylib # Mac

##################################
## C/C++ projects
##################################
build/
.vscode/